<!-- Nav -->
<div class="p-4" id="nav">
</div>

<!-- Container with input -->
<div class="container-fluid d-flex justify-content-center" id="form-acortar">
  <div class="col-md-4 align-self-center">
    <%= simple_form_for @link do |f| %>
      <div class="input-group mb-3">
        <%= f.text_field :url, class:"form-control p-4" %>
        <div class="input-group-append">
          <%= f.submit "Acortar", class: "button btn px-3", id:"button-addon2" %>
        </div>
      </div>
    <% end %>  
  </div>
</div>

<!-- Container with list of links -->
<div class="container-fluid" id="lista">
  <div class="row my-3">
    <div class="col-md-4 m-auto">
      <% @links.each do |link| %>
        <div class="border border-muted rounded mt-3">
          <div>
            <div class="d-flex justify-content-between align-items-center p-2" data-controller="clicked">
              <div>
                <p id="text-copy" data-target="clicked.url"><%= "​localhost:3000/links/#{link.short_url}" %></p>
                <p class="text-muted" data-target="clicked.count">Accedido <%= link.clicked %> veces</p>
              </div>
              <div>
                <button class="btn btn-link" id="copy" data-action="click->clicked#increment"><i class="far fa-copy"></i></button>
                <%= link_to link_path(link), method: :delete, data: { confirm: "Are you sure?"} do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>
            </div>
            <div id="url-original" class="p-2 d-flex align-items-center">
              <p class="font-weight-bold text-truncate">URL Original: <%= link.url %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
